profiles {
  standard {
    process.container = 'ghcr.io/coh-apps/coh_app_basic-20210924:skylake'
  }
  
  docker {
    process.container = 'ghcr.io/coh-apps/coh_app_basic-20210924:skylake'
    docker.enabled = true
  }
  
  singularity {
    process.container = 'ghcr.io/coh-apps/coh_app_basic-20210924:skylake'
    singularity.enabled = true
  }
  
  slurm {
    process.container = 'ghcr.io/coh-apps/coh_app_basic-20210924:skylake'
    process.executor = 'slurm'
    singularity.enabled = true
  }
}